body {font-family: Helvetica, sans-serif;font-weight: lighter; margin:16px;}
*:focus{outline: none;}
a {color: inherit; text-decoration: inherit;}
input[type=text], select {width: 100%;padding: 12px 16px;margin: 8px 0px 24px;display: inline-block;border: 1px solid #767676;border-radius: 0; box-sizing: border-box; font-size: 16px;font-weight: lighter; -webkit-appearance: none;outline: none;}
.title {text-align: center; font-size: 24px; font-weight: 400;margin: 32px}
p{line-height: 22px; margin-top: 24px; font-size: 16px;}

input[type=submit] {width: 100%;background-color: #DB0011;color: white; padding: 14px 20px;margin: 8px 0;border: none;cursor: pointer;font-size: 16px;font-weight: lighter;font-family: Helvetica, sans-serif;-webkit-appearance: none; border-radius: 0;box-sizing: border-box; 
    -ms-box-sizing: border-box; /* ie8 */
    -khtml-box-sizing: border-box; /* konqueror */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    box-sizing: border-box; /* css3 rec */ }
input[type=submit]:hover {background-color: #DB0011; }
label {font-size: 16px; line-height: 24px;}
input.contact {width: 60%;}
ul {margin:0;padding: 0;}
.a {margin: 16px;} 
 
table {  border-collapse: collapse;  width: 100%;}
th, td { padding: 8px; height: 32px;}
.icon {width: 60px; height: 60px;}
tr {  border-bottom: 1px solid #ddd; }
